@inherits LayoutComponentBase

<NavMenu />

<div class="main-content">
    @Body
</div>

<div id="blazor-error-ui">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <span>An unhandled error has occurred.</span>
    <a href="" class="reload btn btn-sm btn-outline-light ms-3">Reload</a>
    <a class="dismiss ms-2 text-white"><i class="bi bi-x-lg"></i></a>
</div>
